/*===Typography===*/


body {
    font-family: ‘Helvetica’, ‘Arial’, sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    color: #000000;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18pt;
}
a{text-decoration: none;}
h1 {
    font-size: 72pt;
    font-family: "teko";
}

h2 {
    font-size: 24pt;
}

footer {
    color: #FFFFFF;
    font-size: 10pt;
    font-style: oblique;
}
/* === Backgrounds === */
header{
    background-color: black;
}

main{
    background-color: #cdcdcd;
}
#container{
    background-color: white;
}
#splash {
    background-image: url(heading.jpg);
    background-size:cover;}

footer{
    background-color: black;
}

/* === Box Model === */
header {
    width: 100%;
    text-align: center;
    padding:10px;
}

nav {
    margin-right: 20px;
}

#container {
    width:1320px;

}

#splash {
    width:1000px;
    height: 400px;
}
#foodarticles{
     width: auto;
    height: auto;
    margin-bottom: 20px;
    margin-left: 20px;

}
main{
    width:1000px;
  margin-left: 200px;
}

article{
    margin-bottom: 20px;
}
aside {
    margin-bottom: 20px;
}

footer {
    padding: 20px;
    width: 100%;
    text-align: center;
}



/* === Layout === */
.floatleft {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

#splash {
   
    margin-left: auto;
    margin-right: auto;
grid-column-start:1;
grid-column-end:3;
}
h1{
     text-align: center;
   padding-top:100px;
    
}
aside{
    margin-left: 50px;
}
    
}
#container {
     width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin:auto;
}

#advertisment {
    background-color: red;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 300px;
    height: 200px;
    padding: 30px;
}
main{
    
    display: grid;
    grid-template-columns: 75% 25%;
}
header{
    position:fixed;
    left:0px;
    top:0px;
}
body{
    padding-top: 115px;
        
}